<!DOCTYPE html>
<html>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <head>
    <title>Shares</title>
  </head>

  <body>
    <h2>Data </h2>
    share 
          <ul>
             {% for share in shares %}
                 {{ share }} <br>
             {% endfor %}
          </ul>

    price 
          <ul>
             {% for price in prices %}
                 {{ price }} <br>
             {% endfor %}
          </ul>

    trade 
          <ul>
             {% for  trade in trades %}
                 {{ trade }} <br>
             {% endfor %}
          </ul>

    <br>
    <br>
  </body>
</html.
