<!DOCTYPE html>
<html>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <head>
    <title>Shares</title>
  </head>

  <body>
    <h2>Play-Trader </h2>
    <br>
    <br>
    <a href="http://127.0.0.1:5000/trader_view">trader view</a>
    <br>
    <a href="http://127.0.0.1:5000/inventory_view">inventory view</a>
    <br>
    <a href="http://127.0.0.1:5000/value_view">value view</a>
    <br>
    <a href="http://127.0.0.1:5000/data">table data</a>
    <br>
    <a href="http://127.0.0.1:5000/view_prices">view_prices</a>
    <br>

  </body>
</html>
