<!DOCTYPE html>
<html>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <head>
    <title>Trade Entry</title>
  </head>

  <body>
    <h2>Price Entry </h2>
    entry 
    <br>
    share, date, price

<form action="/price_insert" method="post">
  <input type="text" name="share"></input>
  <input type="date" name="date"></input>
  <input type="text" name="price"></input>
  <input type="submit" value="Enter"></input>
</form>


    <br>
    <br>
    <a href="http://127.0.0.1:5000">Main</a>
    <br>
    <a href="http://127.0.0.1:5000/entry">entry</a>
    <br>
    <a href="http://127.0.0.1:5000/data">data</a>
    <br>
    <a href="http://127.0.0.1:5000/view">view</a>
    <br>

  </body>
</html>
