<!DOCTYPE html>
<html>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <head>
    <title>Trade Entry</title>
  </head>

  <body>
    <h2>Trade Entry </h2>
    <br>
    share                ,   quantity

<form action="/trade_insert" method="post">
  <input type="text" name="share"></input>
  <input type="text" name="quantity"></input>
  <input type="radio" name="side" value="buy">Buy
  <input type="radio" name="side" value="sell">Sell
  <input type="submit" value="Deal"></input>
</form>


    <br>

  </body>
</html>
